@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--ff-primary: 'Roboto', sans-serif;
	--ff-secondary: 'Quattrocento', serif;

	--color-light: #ffffff;
	--color-dark: #262626;
	--color-grey: #8e8e8e;
	--color-light-grey: #c7c7c7;
	--color-background: #fafafa;
	--color-border: #dbdbdb;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-background);
	color: var(--color-dark);
	font-family: var(--ff-primary);
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	object-position: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--color-dark);
	font-family: var(--ff-primary);
	font-weight: 400;
}

.font-bold {
	font-weight: 700;
}

.avatar {
	border-radius: 100%;
	border: 1px solid #00000019;
}

.ml-auto {
	margin-left: auto;
}

.container-flex {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 0 0.5em;
}

.container-grid {
	display: grid;
	flex: 1;
}

@media screen and (min-width: 768px) {
	.container-flex {
		flex-direction: row;
		gap: 0;
	}
	.container-grid {
		grid-template-columns: 2fr 1fr;
	}
}

/* SIDEBAR */

.logo {
	padding-left: 1em;
}

.sidebar__list {
	display: flex;
	flex-direction: column;
}

.sidebar__list-item {
	padding: 0.5em 1.25em;
}

.sidebar__list-link {
	display: flex;
	align-items: center;
	gap: 1em;
}

.sidebar {
	display: none;
	width: 250px;
	border-right: 1px solid var(--color-border);
	background-color: var(--color-light);
	padding: 1em 0;
}

.sidebar__btn {
	margin-top: 0.5em;
}

@media screen and (min-width: 768px) {
	.logo {
		padding: 1em;
	}
	.sidebar__btn {
		display: none;
	}
	.sidebar {
		display: block;
	}
}

/* MAIN-SECTION */

main {
	padding: 1em 0;
	background-color: var(--color-light);
}

/* STORY */
.story-container {
	display: flex;
	gap: 1em;
	overflow-x: scroll;
	max-width: 500px;
	align-items: center;
	margin: 0 auto;
}

.story-container::-webkit-scrollbar {
	display: none;
}

.story {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.3em;
}

.story__text {
	font-size: 0.75rem;
}

/* POSTS */

.post-container {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
	max-width: 500px;
	margin: 0 auto;
}

.post {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--color-border);
}

.post:last-child {
    border-bottom: none;
}

.post__header {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.post__avatar {
	width: 32px;
	height: 32px;
}
.post__user {
	font-size: 0.875rem;
	font-weight: 600;
}

.post__time {
	font-size: 0.875rem;
	color: var(--color-grey);
}

.post__footer {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
}

.post__footer__icons {
	display: flex;
	align-items: center;
	gap: 1em;
}

.post__footer__likes {
	font-size: 0.8125rem;
	font-weight: 600;
}

.post__footer__caption {
	display: flex;
	align-items: center;
	gap: 0.3em;
}

.post__caption {
	font-size: 0.875rem;
    font-weight: 400;
}

.post__footer__translate {
	font-size: 0.75rem;
	font-weight: 600;
}

.post__footer__small-text {
	font-size: 0.8125rem;
	color: var(--color-grey);
}

.input-container {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.input {
	flex: 1;
	border: none;
}

.input::placeholder {
	font-size: 0.875rem;
    color: var(--color-dark);
}

.input__icon{
    color:var(--color-grey);
}

.post__user__link{
    color: #00376B;
}